.header .nav ul li{
	width: auto;
}
.flex{
	display: inline;
	font-size: 0.5rem;
	vertical-align : top;
}
.hot_key ul li a:hover {
    text-decoration: none;
}
ul > li {
	display: inline;
}
ul > li:active{
	padding-bottom: 0.5rem;
	color: red;
}
.ini{
	display: inline-block;
}
.clearfix > h1{
	height: 40px;
	margin-top: 20px;
	padding: 30px 0;
	display: block;
	float: left;
	font-weight: 1000;
}

.hot_key .search_box input.submit{
	width: 38px;
	height:38px;
	border:none;
	text-align: center;
	background:#fff url(../images/search.png) no-repeat center;
	border-radius: 50%;
	cursor:pointer;
	position: absolute;
	top:6px;
	right:2px;
}


.hot_key .search_box input.text{
	height: 50px;
	box-sizing: border-box;
	border: 1px solid #eee;
	border-radius: 25px;
	background-color: #fff;
	/* position: absolute; */
	/* right: 50px; */
	/* top: 50px; */
	width: 100%;
	/* z-index: 999; */
}

.clearfix .nav.hot_key{
	display: inline;
}
.hot_key .search_box{
	width: 250px;
}

.hot_key{
    border-bottom:1px solid #fff;
}
.banner .hd{width:100%;padding:20px 0;text-align:center;border-bottom:1px solid #dfdfdf;position:relative;left:0;bottom:0;}



/* 简介style */
.bg_c{
	position: relative;
	/* height: 587px; */
}
.bg_i{
	/* 2a343d */
	background:  url(../images/introbg.png) no-repeat left;
	opacity: 0.4;
	background-size: 45% 100%;
	width: 100%;
	height: 587px;
	color: #FFFFFF;
	text-align: center;
}

.bg_c:nth-of-type(3)> .referral,
.bg_c:nth-of-type(5)> .referral{
	position: absolute;
	top:0px;
	left: 0;
	right: 0;
}

.bg_c>.referral>div:last-child>div{
	background-color: #fff;
	border: none;
	color: white;
	padding: 10px 30px;
	margin-top: 30px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	color: #000000;
	border-left: 5px solid red;
	/* position: absolute;
	left: 0;
	right: 0;
	width: 100px;
	height: 50px;
	background-color: #fff;
	color: red; */
}
.bg_c > .div{
	/* position: absolute; */
	/* width: 100%; */
	top: 190px;
}


.bg_c:nth-child(odd) > .referral>div:nth-child(1){
	color: #fff;
}
.bg_c:nth-child(even) > .referral>div:nth-child(1),
body > .bg_c > .referral > #fin{
	color: #2a343d;
}





/* 产品推荐轮播图 */

.swiper-wrapper  .cet{
	text-align: center;
	padding: 15px;
}

.btn_group{
	margin: 200px 0 100px;
	text-align: center;
	text-decoration: center;
	position: absolute;
}
.btn_group > div{
	display: inline-block;
	text-align: center;
	padding: 10px 0;
	background-color: #F0F0F0;
	border: 1px solid #000000;
	width: 125px;
	/* height: 35px; */
}
.bg_c>.referral>div:nth-child(3)~div{
	font-size: 15px;
	padding-bottom: 23px;
	color: #fff;
}

.repro > .item,
.bg_c>.referral{
	text-align: center;
	text-decoration: center;
}


/* 内容前三行的重复样式 */
.bg_c >  .referral>div:nth-child(1){
	padding-top: 50px;
	font-size: 24px;
}

.bg_c >  .referral>div:nth-child(2){
	text-transform: uppercase
	padding-top: 15px;
	font-size: 15px;
	color: #E8390E;
}

.bg_c >  .referral>div:nth-child(3){
	color: #B5B5B5;
	font-size: 13px;
	margin: 20px 25px 52px 25px;
}


/* 产品特点 */


.bg_c > .trait_i{
	height: 815px;
	width: 100%;
	background-repeat: no-repect;
	opacity: 0.1;
	background-size: 120% 120%;
	background-position: -200px 0;
	background-image:  url(../images/black-and-white-buildings-city-2255.jpg);
}


.bg_c .tra_ctext{
		box-shadow: 1.286px 1.532px 40px 0px rgb( 0, 0, 0 );
		position: absolute;
		top: 190px;	
		width: 1200px;
		height: 561px;
		left: 50%;
		margin: 0px 0 0 -600px;
}




.tu1{
	background: url(../images/防盗刷.png) no-repeat;
	background-size: 100% 100%;
	width: 20px;
	height: 20px;
}

.main > img{
	width: 20px;
	height: 20px;
}

.pro_type ul li:nth-child(1){
	background: rgba(0,0,0,0);
}



/* 工程案例 */
.case{
	background-image: url(../images/case01.jpg);
	background-repeat: no-repeat;
	background-size: 100% 200%;
	background-position: center;
	height: 620px;
}

.nav > div{
	width:50%;
}

.pro_type ul li {
	color: #fff;
}
.pro_type {
    background-color: #383f45;
}


.footer{
	background-color: #FFFFFF;
	color: #000000;
}

.footer  .nav{
	display: inline-block;
}