
.flex{
	display: inline;
	font-size: 0.5rem;
	vertical-align : top;
}
ul > li {
	display: inline;
}
ul > li:active{
	padding-bottom: 0.5rem;
	color: red;
}
.ini{
	display: inline-block;
}
.clearfix > h1{
	height: 40px;
	margin-top: 20px;
	padding: 30px 0;
	display: block;
	float: left;
	font-weight: 1000;
}

.hot_key .search_box input.submit{
    width:60px;
    height:42px;
    border:none;
    background:#fff url(../images/search.png) no-repeat center;
    cursor:pointer;
    position:absolute;
    top:0;right:0;
}

.clearfix .nav.hot_key{
	display: inline;
}
.hot_key .search_box{
	width: 100px;
}

.hot_key{
    border-bottom:1px solid #fff;
}
.banner .hd{width:100%;padding:20px 0;text-align:center;border-bottom:1px solid #dfdfdf;position:relative;left:0;bottom:0;}


.bgt{
	background: #fff url(../images/banner.jpg) no-repeat center;
	background-size: 100% 100%;
	width: 100%;
	height: 518px;
	color: #FFFFFF;
	text-align: center;
}
.bgt>div:last-child{
	position: relative;
}

.swiper-wrapper  .cet{
	text-align: center;
	padding: 15px;
}

.btn_group{
	margin: 50px 0 100px;
	text-align: center;
	text-decoration: center;
}
.btn_group > div{
	display: inline-block;
	text-align: center;
	padding: 10px 0;
	background-color: #F0F0F0;
	border: 1px solid #000000;
	width: 125px;
	/* height: 35px; */
}
.bgt>div:last-child>div{
	background-color: #fff;
	border: none;
	color: white;
	padding: 10px 30px;
	margin-top: 30px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	color: #000000;
	border-left: 5px solid red;
	/* position: absolute;
	left: 0;
	right: 0;
	width: 100px;
	height: 50px;
	background-color: #fff;
	color: red; */
}
.bgt>div:nth-child(3)~div{
	font-size: 15px;
	padding-top: 15px;
}

.repro > .item,
.trait > .tra_title{
	text-align: center;
	text-decoration: center;
}

.bgt>div:nth-child(1),
.repro > .item >div:nth-child(1),
.trait > .tra_title> div:nth-child(1){
	padding-top: 50px;
	font-size: 20px;
}

.bgt>div:nth-child(2),
.repro > .item >div:nth-child(2),
.trait > .tra_title> div:nth-child(2){
	font-size: 18px;
	color: #E8390E;
}

.bgt>div:nth-child(3),
.repro > .item >div:nth-child(3),
.trait > .tra_title> div:nth-child(3){
	color: #B5B5B5;
	font-size: 15px;
	margin: 25px 25px 40px 25px;
}

.trait{
	background-color: #000;
}

.trait > .tra_ctext{
	width: 1000px;
	height: 500px;
}

